

.link-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-button-column {
    width: 50px;
}

.link-id-column {
    width: 150px;
}

.order-column {
    width: 100px;
}

.link-label-column {
    width: 250px;
}

.node-label-column {
    width:250px;
}