
.node-edit-root {
    display: flex;
}

.node-haader{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.node-row{
    display: flex;
    align-items: center;
}

.node-column{
    width: 150px;
}

.node-label{
    width: 250px;
}

.image-cell{
    border: 1px solid gray;
    margin-top: -1px;
    // margin-bottom: -1px;
}

.image-header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.image-image-row{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.image-text {
    width: 150px;
}


.link-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-button-column {
    width: 50px;
}

.link-id-column {
    width: 150px;
}

.order-column {
    width: 100px;
}

.link-label-column {
    width: 250px;
}

.node-label-column {
    width:250px;
}

.link-content {
    width: 500pt;
}

