

.root {
    height: 100%;
}


.content {
    display: flex;
    height: calc(65% - 2px)
}

.top {
    height: 5%;
    border: 1px solid gray;
    background-color: whitesmoke;
}

.content-left {
    width: 10%;
    border: 1px solid gray;
    background-color: whitesmoke;
}

.file-view {
    height: calc(50% - 2px);
    border: 1px solid gray;
}

.cluster-view {
    height: calc(50% - 2px);
    border: 1px solid gray;
}

.content-center {
    width: 85%;
}

.content-right {
    width: 5%;
}

.bottom {
    height: calc(30% - 2px);
    border: 1px solid gray;
    background-color: whitesmoke;
}