

.root {
    height: 100%;
}

.content {
    display: flex;
    height: 70%
}

.content-left {
    width: 20%;
}

.file-view {
    height: 50%;
}

.cluster-view {
    height: 50%;
}


.content-center {
    width: 60%;
}

.content-right {
    width: 20%;
}

.bottom {
    height: 30%;
}