
<div style="color: skyblue;">
    <ngx-graph
        [view]="[1000, 900]"
        [nodes]="extendedNodes"
        [links]="links"
        (select)="onNodeSelect($event)"
        [showMiniMap]="true"
        [miniMapMaxHeight]="200"
        [miniMapMaxWidth]="300"
        [draggingEnabled]="false"
    >
    <ng-template #nodeTemplate let-node>      
        <!-- 選択状態の枠 -->
        <svg:g [attr.visibility]="node.isSelected ? 'visible' : 'hidden'">
          <svg:rect
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
              rx="5"
              ry="5"
              stroke-width="5"
              stroke="blue"
          />
          <svg:g [attr.transform]="'translate(' + (node.dimension.width + 5) +', 0)'" (click)="onNodeAdd(node)">
          <circle cx="12" cy="12" r="12" style="fill: whitesmoke"  />
            <svg:path 
            d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
          </svg:g>
        </svg:g>
        <!-- 表示枠 -->
        <svg:g class="node">
            <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            rx="5"
            ry="5"
            fill="skyblue"
            (keypress)="onNodeKeypress($event, node)"
          />
          <!-- ノードのラベル -->
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
            {{node.label}}
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
</div>